{
    "plugins":["babel", "react"],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:json/recommended"
      ],
    "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        }
      },
    "env": {
      "es6": true,
      "node": true,
      "browser": true
    },
    "globals": {
      "exampleGlobalVariable": true
    },
    "rules": {

      "no-unused-vars": "warn",

      //Enforce style
      "semi": ["error", "always"],
      "comma-dangle": ["error", "always-multiline"],
      "quotes": ["error", "double"]
      
    }
  }